@import './layout/header'
@import './layout/feed'
@import './layout/footer'

@import './layout/about-grid'

@import './bases/animations'

body
  margin: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.6rem
  background-color: #c1c4a5
  height: 100vh

@media (max-width: 320px)
  body
    font-size: 1.3rem

a
  color: black
  text-decoration: none

::-webkit-scrollbar
  display: none

.pt-1
  width: 100%
  display: inline-block

.pt-2
  position: relative

.pt-1-social div 
  margin-top: 30px

#fullpage
  overflow: auto
  white-space: nowrap

#fullpage .secition
  display: inline-block

@media screen and ( min-width:768px)
  .pt-1
    width: 40%
    height: 100vh
    float: left
    position: relative

  .pt-1-social
    display: flex

  .pt-2
    width: 60%
    height: 100vh
    float: right
    background-color: #c1c4a5
    overflow: scroll
    position: relative

  .pt-2-counter
    padding: 35px 0px 
    position: fixed
    bottom: 0
    right: 0

  .pt-1-content
    padding: 35px
    position: absolute
    bottom: 0


.pt-2-counter
  padding: 35px 0px 
  position: absolute
  bottom: 0
  right: 0

.pt-1-content
  padding: 35px

.pt-1-content1
  padding: 35px

.pt-1-social div a
  background-color: black
  padding: 10px 20px
  color: white
  border-radius: 90px
  margin-right: 10px

.pt-1-social div a:hover
  background-color: white
  color: black

.pt-2-counter div a
  background-color: black
  padding: 10px 20px
  color: white
  border-radius: 90px
  margin-right: 10px

.pt-2-counter div a:hover
  background-color: white
  color: blacks
