@import './layout/header'
@import './layout/feed'
@import './layout/footer'

@import './layout/about-grid'

@import './bases/animations'

body
  margin: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.6rem
  background-color: #c1c4a5
  height: 100vh
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA10lEQVRIid2UQQ6CMBBFXzRwPQmoXEnEYxDXeg9dS0RcegFcq4u2hphWStsVP/lJM2nez3TawtQVAzmwB2rgKV3L2lrucVIGtMB7wDcgHQOeAzsL8K9LYGYT4AJXLobgmQdcOTHBY8R5+gbcMQw+DwBXXilofyjG1hy00BWvATuodQFdwIBOQa3urYNeuoBHwIAvqx9wDhhw0gUcAgYcdcUIaPAfcMufHzYNEKB9A32VHvDNEBzEXLYO8IKR1z7BbiYNFsdiUoT4uCrggnihnVxXwFLumbA+sVHc/44az28AAAAASUVORK5CYII=') 2 2, pointer

@media (max-width: 320px)
  body
    font-size: 1.3rem

a
  color: black
  text-decoration: none

::-webkit-scrollbar
  display: none

::-moz-selection 
    background: rgba(255, 255, 255, 0.99)
    color: #000
    border-radius: 20px

::selection 
    background: rgba(255, 255, 255, 0.99)
    color: #000
    border-radius: 20px

