.about-grid 
    display: grid
    grid-template-columns: 70% 0.5fr 1fr

@media (max-width: 600px) 
    .about-grid 
        grid-template-columns: repeat(1, 1fr)

.title-about-grid
    padding: 0 2%
    font-size: 8vw

@media screen and (min-width : 321px) and (max-width: 600px) 
    .title-about-grid 
        padding: 0
        font-size: 2.6rem

.title-about-grid p
    margin: 0
    margin-bottom: 3%

.title-about-grid p:hover
    font-style: italic
