
.pt-1
  width: 100%
  display: inline-block

.pt-2
  position: relative

.pt-1-social div 
  margin-top: 30px

.swiper-container
  overflow: auto
  white-space: nowrap

@media screen and ( max-width: 708px)
  .swiper-wrapper
    display: flex
  
  .swiper-wrapper > div > img
    width: 100vw
  
@media screen and ( min-width:768px)  
  .swiper-container 
    display: block
    height: 100vh
    
  body
    font-size: calc(20px + 4 * (100vw - 320px) / 1180)
  a
    font-size: calc(15px + 4 * (100vw - 320px) / 1180)

  #mobile-carousel
    display: none

  .pt-1
    width: 40%
    height: 100vh
    float: left
    position: relative

  .pt-1-social
    display: flex

  .pt-2
    width: 60%
    height: 100vh
    float: right
    background-color: #c1c4a5
    position: relative

  .pt-2-counter
    padding: 35px 0px 
    position: fixed
    bottom: 0
    right: 0
    font-size: calc(15px + 4 * (100vw - 320px) / 1180)

  .pt-1-content
    padding: 35px
    position: absolute
    bottom: 0

.pt-2-counter
  padding: 25px 0px 
  position: absolute
  bottom: 0
  right: 0

.pt-1-content
  padding: 35px

.pt-1-content1
  padding: 35px

.pt-1-social div a
  background-color: black
  padding: 10px 20px
  color: white
  border-radius: 90px
  margin-right: 10px

.pt-1-social div a:hover
  background-color: white
  color: black

.pt-2-counter
  background-color: black
  padding: 10px 20px
  color: white
  border-radius: 90px
  margin: 25px

